<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Liste</title>
</head>
<body>
  <h1>Liste:</h1>
  <% if (items.length) { %>
    <% items.forEach(function(item) { %>
      <div>
        <%= item.category %>: <%= item.name %>
        <% if (item.protein == "oui") { %>
           (P)
        <% } %> 
        / <%= item.color %>
      </div>
    <% }) %>
  <% } else { %>
  Rien !
  <% } %>
</body>
</html>
