<%- include ('header'); -%>
  <h1>Liste:</h1>
  <% if (items.length) { %>
    <% items.forEach(function(item) { %>
      <div>
        <%= item.category %>
      </div>
    <% }) %>
  <% } else { %>
  Rien !
  <% } %>
<%- include ('footer'); -%>
