<%- include('header'); -%>
  <h1>Quizz:</h1>
  Quelle est la couleur ?
  <% if (items.length) { %>
    <% items.forEach(function(item) { %>
      <div>
        <%= item.category %>: <%= item.name %>
        <% if (item.protein == "oui") { %>
           (P)
        <% } %> 
      </div>
    <% }) %>
  <% } else { %>
  Rien !
  <% } %>
<%- include('footer'); -%>
